body {
font-family: 'Press Start 2P', cursive;
}

h1 {
background: url('http://i.imgur.com/rARzPWK.gif');




font-size:75px;

}
#lyra {
width: 60%;
margin: auto;
}

#lya {
    position: absolute;
    left: 100px;
    top: 150px;
}

#lyra {
    position: absolute;
    left: 340px;
    top: 65px;
}

#mw2 {position: absolute;
	left: 100px;
	top: 150px;
}

#mw2 {
	position: absolute;
	left: 740px;
	top: 330px;
}

#mw22 {position: absolute;
	left: 100px;
	top: 300px;
}

#mw22 {
	position: absolute;
	left: 30px;
	top: 450px;
}

#soc {
    position: absolute;
    left: 700px;
    top: 500px;
}

#apul {
    position: absolute;
    left: 300px;
    top: 495px;
}

#WT {
    position: absolute;
    left: 750px;
    top: 150px;
}

#text1 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

#text2 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

#text3 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

#text4 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

#text5 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

#text6 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

#text7 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

#text8 {
	font-size:20px;
	
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

body {
    background-image: url("http://i.imgur.com/GAGcOLX.gif");
}
